<h2>My Heroes</h2>

<ul class="heroes">
  <!--* directive  () event binding  [] property binding-->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!--In hero detail The hero property must be an Input property, annotated with the @Input() decorator, because the external HeroesComponent will bind to it like this.-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
