<div id="search-component">
  <h4>Hero Search</h4>

  <!--Every time the user types in the textbox, the binding calls search() with the textbox value,
  a "search term". The searchTerms becomes an Observable emitting a steady stream of search terms.-->
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" /> <!-- now just what the heck is # doing? is it like ngInit?-->

  <ul class="search-result">
    <!--The *ngFor can't do anything with an Observable. But there's also a pipe character (|) followed by async, which identifies Angular's AsyncPipe.-->
    <li *ngFor="let hero of heroes$ | async" > <!--The $ is a convention that indicates heroes$ is an Observable, not an array. Magic-->
      <!--The AsyncPipe subscribes to an Observable AUTOMATICALLY!!!! so you won't have to do so in the component class. Thats kindof a big deal-->
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
